<div
  class="page-choose-files flex flex-row h-screen-minus-navbar overflow-hidden"
>
  <!-- List -->
  <div class="list basis-[15rem] border-l">
    <div class="list_items p-6 relative overflow-y-auto bg-white" #imageList>
      <koodaki-image-list
        [list]="images"
        [inProgress]="inProgress"
        (clickImage)="onClickImage($event)"
      ></koodaki-image-list>
    </div>
    <!-- Pagination -->
    <div class="list_pagination">
      <koodaki-paginator
        [config]="paginatorConfig"
        (changePage)="onChangePage($event)"
      ></koodaki-paginator>
    </div>
    <!-- Filter -->
    <div class="h-navbar bg-white flex flex-col justify-center">
      <mat-checkbox color="primary" [formControl]="choosenOnesControl">
        انتخاب شده ها
      </mat-checkbox>
    </div>
  </div>
  <!-- Files -->
  <div class="content border-r bg-gray-200 flex flex-auto">
    <div class="flex-none w-full bg-gray-200 flex flex-col">
      <!-- Slider -->
      <div
        #slider
        class="
          flex-auto
          overflow-y-auto
          h-screen-minus-navbar
          slider
          relative
          p-3
          overflow-hidden
          flex flex-col
          justify-center
          items-center
        "
      >
        <img
          #image
          [src]="currentItem && currentItem.url"
          class=""
          [class.is-selected]="currentItem && currentItem.selected"
          alt=""
        />

        <p
          *ngIf="currentItem && currentItem.comment"
          class="mt-3 bg-white rounded-lg p-4"
        >
          {{ currentItem.comment }}
        </p>

        <!-- Navigators -->
        <div
          class="
            navigator navigator--left
            shadow-lg
            absolute
            left-0
            w-[40px]
            z-10
            bg-white
            pointer
            flex
            items-center
            justify-center
          "
          (click)="onClickNavigationPreviouse()"
        >
          &#9664;
        </div>
        <div
          class="
            navigator navigator--right
            shadow-lg
            absolute
            right-0
            w-[40px]
            z-10
            bg-white
            pointer
            flex flex-col
            items-center
            justify-center
          "
          (click)="onClickNavigationNext()"
        >
          &#9654;
        </div>
      </div>
      <!-- Toolbar -->
      <div
        class="
          toolbar
          border-t
          py-1
          px-3
          bg-white
          flex
          items-center
          justify-center
        "
      >
        <!-- Right -->
        <div
          fxFlex
          class="border-l px-3 align-left flex gap-4 justify-end"
        ></div>
        <!-- Left -->
        <div fxFlex class="px-3 flex gap-4">
          <button
            mat-icon-button
            (click)="onClickRotate()"
            matTooltip="بچرخانید"
          >
            <img
              src="assets/images/rotation.png"
              alt=""
              width="24px"
              height="24px"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Upload button -->
<button
  class="
    bg-blue-400
    w-[60px]
    h-[60px]
    rounded-full
    shadow-lg
    bottom-16
    left-4
    absolute
    flex flex-col
    items-center
    justify-center
  "
  (click)="openUploader()"
>
  <mat-icon class="scale-150 text-white">upload</mat-icon>
</button>
