@font-face {
  font-family: "iranSans";
  src: url("../fonts/woff/IRANSansX-Bold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "iranSans";
  src: url("../fonts/woff/IRANSansX-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "iranSans";
  src: url("../fonts/woff2/IRANSansX-Regular.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "iranSans";
  src: url("../fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
  font-weight: 700;
}

p,
span,
a,
button {
  font-family: "iranSans";
  font-weight: 500 !important;
}
table thead tr th {
  font-family: "iranSans";
  font-weight: 700 !important;
}
table tbody tr td {
  font-family: "iranSans";
  font-weight: 500;
}
