<div class="w-1/2 mx-auto mt-10">
  <mat-card class="md:h-full mb-8">
    <div
      #selectedFile
      class="h-24"
      #fileInput
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      (onFileDrop)="droppedFile($event)"
      [uploader]="uploader"
    >
      <p class="text-center p-5">فایل را اینجا رها کنید</p>
    </div>
    <div class="" (click)="chooseMultipleFile.click()">
      <button class="btn-primary">
        <i class="material-icons white">add</i>
      </button>
      <input
        #fileInput
        #chooseMultipleFile
        type="file"
        ng2FileSelect
        [uploader]="uploader"
        multiple
        style="display: none"
        (onFileSelected)="onFileSelected($event)"
        accept="image/x-png,image/gif,image/jpeg,image/png,application/x-zip-compressed"
      />
      <p class="text-xs text-slate-300 mr-3 align-super inline-block">
        برای انتخاب فایل اینجا کلیک کنید
      </p>
    </div>
  </mat-card>
  <button
    mat-flat-button
    color="primary"
    (click)="uploader.uploadAll()"
    [disabled]="!uploader.getNotUploadedItems().length"
  >
    <i class="material-icons align-middle">upload</i><span>بارگذاری همه</span>
  </button>
  <section class="example-container mt-2" tabindex="0">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 empty:hidden"
    >
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>نام</th>
        <td mat-cell *matCellDef="let element">
          {{ element.file.name }}
        </td>
      </ng-container>

      <!-- size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>حجم MB</th>
        <td mat-cell *matCellDef="let element" nowrap>
          {{ element?.file?.size / 1024 / 1024 | number: ".2" }}
        </td>
      </ng-container>

      <!-- progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef>پیشرفت</th>
        <td mat-cell *matCellDef="let element">
          <mat-progress-bar
            mode="determinate"
            [value]="element.uploader.progress"
          ></mat-progress-bar>
          {{ element.progress }}
          {{ element.uploader.progress }}
        </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>عملیات</th>

        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            color="primary"
            (click)="row.upload()"
            [disabled]="row.isReady || row.isUploading || row.isSuccess"
          >
            <i class="material-icons">upload</i>
            <!-- <span class="material-icons"> upload_file </span> -->
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="row.cancel()"
            [disabled]="!row.isUploading"
          >
            <i class="material-icons">cancel</i>
            <!-- <span class="material-icons"> cancel </span> -->
          </button>
          <button mat-icon-button color="warn" (click)="deleteFile(row)">
            <i class="material-icons">delete</i>
            <!-- <span class="material-icons"> delete </span> -->
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>

<!-- <div class="container p-5">
  <div class="row">
    <div class="col-md-3">
      <h3>بارگذاری فایل</h3>

      <div
        #fileInput
        ng2FileDrop
        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
        (fileOver)="fileOverBase($event)"
        (onFileDrop)="droppedFile($event)"
        [uploader]="uploader"
        class="well my-drop-zone"
      >
        برای بارگذاری فایل خود را به اینجا بکشید
      </div>

      <p *ngIf="showError">{{ errorMessage }}</p>
      <p class="mt-3">انتخاب یک یا چند فایل</p>
      <div class="" (click)="chooseMultipleFile.click()">
        <button mat-raised-button color="primary">انتخاب فایل</button>
        <input
          #chooseMultipleFile
          type="file"
          ng2FileSelect
          [uploader]="uploader"
          multiple
          style="display: none"
          (onFileSelected)="onFileSelected($event)"
          accept="image/x-png,image/gif,image/jpeg,image/png,application/x-zip-compressed"
        />
      </div>
    </div>

    <div class="col-md-9 my-5" *ngIf="uploader.queue.length">
      <h3>وضعیت فایلهای انتخاب شده</h3>
      <p class="my-4">تعداد فایلهای انتخاب شده: {{ uploader.queue.length }}</p>

      <table class="table">
        <thead>
          <tr>
            <th>نام</th>
            <th>حجم</th>
            <th>پیشرفت</th>
            <th>وضعیت</th>
            <th>اقدامات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td>
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td nowrap>
              {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
            </td>
            <td>
              <div class="progress" style="margin-bottom: 0">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [ngStyle]="{ width: item.progress + '%' }"
                ></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"
                ><i class="glyphicon glyphicon-ok"></i
              ></span>
              <span *ngIf="item.isCancel"
                ><i class="glyphicon glyphicon-ban-circle"></i
              ></span>
              <span *ngIf="item.isError"
                ><i class="glyphicon glyphicon-remove"></i
              ></span>
            </td>
            <td nowrap>
              <button
                mat-button
                color="success"
                type="button"
                (click)="item.upload()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess"
              >
                <span class="material-icons"> upload_file </span> Upload
              </button>
              <button
                type="button"
                mat-button
                class="yellow"
                color="yellow"
                (click)="item.cancel()"
                [disabled]="!item.isUploading"
              >
                <span class="material-icons"> cancel </span> Cancel
              </button>
              <button
                type="button"
                mat-flat-button
                color="warn"
                (click)="item.remove()"
              >
                {{ item }}
                <span class="material-icons"> delete </span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="mt-3">
        <div class="mb-4">
          Queue progress:
          <div class="progress" style="">
            <div
              class="progress-bar"
              role="progressbar"
              [ngStyle]="{ width: uploader.progress + '%' }"
            ></div>
          </div>
        </div>
        <button
          type="button"
          mat-button
          color="success"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length"
        >
          <span class="material-icons"> upload_file </span> Upload all
        </button>
        <button
          type="button"
          mat-button
          color="accent"
          (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading"
        >
          <span class="material-icons"> cancel </span> Cancel all
        </button>
        <button
          type="button"
          mat-button
          color="warn"
          (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length"
        >
          <span class="material-icons"> delete </span> Remove all
        </button>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="row" *ngIf="uploader.queue.length">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Response</div>
        <div class="panel-body">
          {{ response }}
        </div>
      </div>
    </div>
  </div>
</div> -->
