@tailwind components;
@tailwind utilities;

.my-drop-zone {
  border: dotted 3px lightgray;
  margin-top: 20px;
  height: 200px;
}
.nv-file-over {
  border: dotted 3px rgb(35, 227, 35);
} /* Default class applied to drop zones on over */

@layer components {
  .btn-primary {
    @apply py-1 px-2 bg-green-500 text-white rounded-sm shadow-md w-20 leading-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75;
  }
}
