<mat-toolbar class="flex justify-between h-10 bg-white">
  <div>
    <a mat-button routerLink="/customer">مشتری</a>
    <a mat-button routerLink="/project">پروژه ها</a>
  </div>
  <div>
    <div class="relative">
      <div
        class="user-account my-custom-button cursor-pointer"
        #userAccount
        (click)="toggleDropdown($event)"
      >
        <mat-icon *ngIf="!avatar">account_circle</mat-icon>
        <img *ngIf="avatar" [src]="avatar" />
        <span class="material-icons" *ngIf="!dropdownOpen"
          >arrow_drop_down</span
        >
        <span class="material-icons" *ngIf="dropdownOpen">arrow_drop_up</span>
      </div>
      <div
        class="dropdown bg-slate-200 rounded-lg py-2"
        [style.top.px]="dropdownY"
        [style.left.px]="dropdownX"
        *ngIf="dropdownOpen"
      >
        <a href="#" class="block px-4 py-2 text-black">Profile</a>
        <a href="#" class="block px-4 py-2 text-black">Settings</a>
        <a href="#" class="block px-4 py-2 text-black">Logout</a>
      </div>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
