<mat-toolbar class="flex justify-between h-10 bg-white">
  <div>
    <a
      mat-button
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      routerLinkActive="activated"
    >
      {{ item.label }}
    </a>
  </div>

  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="my-custom-button">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon class="icont_exit">logout</mat-icon>
        <span>خروج</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
