<section
  class="uploader py-2 w-[600px]"
  [class.uploader--progress]="uploadPercentage$ | async"
  [class.uploader--highlighted]="shouldHighlight"
  (dragenter)="onDragEnter($event)"
  (dragleave)="onDragLeave($event)"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
>
  <div
    class="
      content
      cursor-pointer
      w-full
      mx-auto
      border border-gray-100
      min-h-[16em]
      rounded-lg
      p-4
      flex flex-col
      justify-center
      items-center
    "
    (click)="browseFiles()"
  >
    <div class="py-4">
      <mat-icon>cloud</mat-icon>
    </div>

    <ng-template [ngIf]="(uploadPercentage$ | async) === 0">
      <h4 class="text-gray-600">برای انتخاب فایل کلیک کنید</h4>
    </ng-template>

    <ng-template [ngIf]="uploadPercentage$ | async">
      <div class="flex mb-2 w-full">
        <div class="grow flex-none w-[50%] text-right">در حال بارگذاری</div>
        <div class="grow flex-none w-[50%] text-left">
          {{ selectedFile && selectedFile.size / 1000000 | number }} مگابایت
        </div>
      </div>
      <mat-progress-bar
        mode="determinate"
        [value]="uploadPercentage$ | async"
      ></mat-progress-bar>
      <h1 class="mb-4 pt-2 font-bold">{{ uploadPercentage$ | async }}%</h1>
      <button mat-button color="warn" (click)="onCancelUploading($event)">
        لغو بارگذاری
      </button>
    </ng-template>
  </div>
</section>

<input
  type="file"
  [accept]="config['file'].accept"
  #fileInput
  (change)="selectFile($event)"
/>
