@import "settings/settings.scss";
@tailwind components;

@layer components {
  .uploader {
    &--highlighted,
    &:hover {
      .content {
        @apply bg-gray-100;

        .mat-icon {
          @apply text-blue-400;
        }
      }
    }

    &--progress {
      .content {
        .mat-icon {
          @apply text-blue-400;
          animation: rotation 3s infinite linear;
        }
      }
    }
  }

  .content {
    @apply bg-white transition duration-300 ease-in-out;
    .mat-icon {
      @apply scale-[200%]  transition duration-300 ease-in-out;
    }
  }

  input[type="file"] {
    display: none;
  }

  @keyframes rotation {
    0% {
      transform: scale(2);
    }

    50% {
      transform: scale(2.5);
    }

    100% {
      transform: scale(2);
    }
  }
}
