/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/fonts.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  font-family: "iranSans" !important;
}
body {
  margin: 0;
}
* {
  font-family: "iranSans" !important;
}
.material-icons {
  font-family: "Material Icons" !important;
}
mat-form-field {
  padding: 10px;
}

// .mdc-checkbox__background {
//   background-color: rgb(146, 242, 108) !important;
// }
